/* Zwiększ szerokość artykułów */
article {
    max-width: 90rem !important;
}

/* Nadpisz inne klasy ograniczające szerokość */
.mw7, .mw8 {
    max-width: 90rem !important;
}

.measure, .measure-wide {
    max-width: 80rem !important;
}

/* Dodatkowe klasy związane z szerokością */
.center {
    max-width: 90rem !important;
}

/* Kontener dla treści artykułu */
.nested-copy-line-height {
    max-width: 100% !important;
}
